html {
  scroll-behavior: smooth;
  transition: 12s;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4200px;
  background-color: #ccc;
}

#content {
  padding: 20px;
  transition: margin-left 0.7s;
  width: 100%;
  overflow: hidden;
}

.slide a {
  font-size: 36px;
  color: #b4d0e7;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b4d0e7;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}

.nav .close {
  position: absolute;
  top: 0;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  text-decoration: none;
  color: #61082b;
  font-family: "Montserrat";
  font-weight: 600;
}
.nav-icons {
  display: flex;
  height: 300px;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 120px;
  padding-left: 20px;
  text-decoration: none;
  color: #61082b;
}

.nav-icons a {
  font-size: 30px;
  transition: 0.4s;
}

.nav-icons a:hover {
  font-size: 250%;
  transition: 0.4s;
}

.navlink:hover {
  border-left: 4px solid #61082b;
  width: 50%;
}

#main1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  margin-top: -110px;
  padding-left: 70px;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.7s;
  overflow: hidden;
}

#snow-fall {
  width: 50%;
  height: 115vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.box1 {
  flex-basis: 5%;
  width: 50%;
}

.glavni-naslov-main {
  font-size: 55px;
  color: #b4d0e7;
  font-weight: 800;
  font-family: "Montserrat";
}

.box2 {
  flex-basis: 5%;
  width: 50%;
}

.podnaslov {
  font-size: 30px;
  color: #b4d0e7;
  font-family: "Montserrat";
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: #b4d0e7;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 550;
  border-radius: 15px;
}

.submit-button:hover {
  background-color: #61082b;
  color: #b4d0e7;
  transition: 0.4s;
}

.box3 {
  flex-basis: 5%;
  width: 50%;
  padding-top: 30px;
  padding-left: 80px;
}

.box3 a {
  font-size: 36px;
  color: #b4d0e7;
}

.arrow-down {
  font-size: 40px;
  text-decoration: none;
}

#main2 {
  background: #61082b;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#main2-first-section {
  background-color: #b4d0e7;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
}

.podnaslov2 {
  font-size: 30px;
  color: #61082b;
  font-family: "Montserrat";
}

#main2-first-section p {
  font-size: 20px;
  color: #61082b;
  font-family: "Montserrat";
}

#main2-second-section {
  background-color: #61082b;
  flex: 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  background-color: #b4d0e7;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-1:hover {
  transition: 0.7s;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: white;
}

.box-2:hover {
  transition: 0.7s;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: white;
}
.box-3:hover {
  transition: 0.7s;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: white;
}
.box-4:hover {
  transition: 0.7s;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: white;
}

.part1 {
  flex: 2;
  order: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 60px;
}

.part2 {
  flex: 6;
  border-top: 2px solid #61082b;
  border-bottom: 2px solid #61082b;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.part2 p {
  font-family: "Montserrat";
  color: #61082b;
  font-size: 16px;
}

.part2 p:hover {
  transition: 0.4s;
  color: white;
}

.part3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  order: 3;
}

.submit-button2 {
  width: 200px;
  height: 50px;
  background-color: #b4d0e7;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 550;
  border-radius: 15px;
  outline: none;
  border: none;
}

.submit-button2:hover {
  border: 1px solid white;
  transition: 0.4s;
  background-color: #61082b;
  color: white;
}

.first-icon,
.second-icon,
.third-icon {
  padding: 10px;
}

@media (max-width: 1000px) {
  .glavni-naslov-main {
    font-size: 40px;
    color: #b4d0e7;
    font-weight: 800;
    font-family: "Montserrat";
  }
  .podnaslov {
    font-size: 20px;
    color: #b4d0e7;
    font-family: "Montserrat";
  }
  #main2-first-section p {
    font-size: 15px;
    color: #61082b;
    font-family: "Montserrat";
  }

  .podnaslov2 {
    font-size: 25px;
    color: #61082b;
    font-family: "Montserrat";
  }
  #main2-first-section {
    background-color: #b4d0e7;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 1600px) {
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    width: 300px;
    height: 500px;
    background-color: #b4d0e7;
  }
  #main2 {
    background: #61082b;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .submit-button2:hover {
    border: 1px solid white;
    transition: 0.4s;
    background-color: #61082b;
    color: white;
  }

  .box-1:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }

  .box-2:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-3:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-4:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
}

@media (max-width: 1200px) {
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    width: 300px;
    height: 500px;
    background-color: #b4d0e7;
  }
  #main2 {
    background: #61082b;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .submit-button2:hover {
    border: 1px solid white;
    transition: 0.4s;
    background-color: #61082b;
    color: white;
  }

  .box-1:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }

  .box-2:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-3:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-4:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
}

@media (max-width: 800px) {
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    width: 300px;
    height: 500px;
    background-color: #b4d0e7;
  }
  #main2 {
    background: #61082b;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .submit-button2:hover {
    border: 1px solid white;
    transition: 0.4s;
    background-color: #61082b;
    color: white;
  }

  .box-1:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }

  .box-2:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-3:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-4:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
}

@media (max-width: 650px) {
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    width: 300px;
    height: 500px;
    background-color: #b4d0e7;
  }

  #main2 {
    background: #61082b;
    width: 100%;
    height: 300vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .submit-button2:hover {
    border: 1px solid white;
    transition: 0.4s;
    background-color: #61082b;
    color: white;
  }

  .box-1:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }

  .box-2:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-3:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-4:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
}

@media (max-width: 620px) {
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    width: 300px;
    height: 500px;
    background-color: #b4d0e7;
  }

  #main2 {
    background: #61082b;
    width: 100%;
    height: 400vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .submit-button2:hover {
    border: 1px solid white;
    transition: 0.4s;
    background-color: #61082b;
    color: white;
  }

  .box-1:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }

  .box-2:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-3:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
  .box-4:hover {
    transition: 0.7s;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
  }
}

#main3 {
  background-color: #aa92c6;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.column1 {
  width: 800px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box_1 {
  width: 800px;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #61082b;
}

.box_1 img {
  width: 800px;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.box_2 {
  width: 800px;
  height: 400px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #61082b;
}

.box_2 img {
  width: 800px;
  height: 400px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.column2 {
  width: 800px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0;
}

.box_3 {
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.box_4 {
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  height: 1%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #61082b;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #61082b;
  outline: none;
}

.register-naslov {
  font-size: 25px;
  font-family: "Montserrat";
  color: #61082b;
}

.register-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: #61082b;
}

.register-button {
  background-color: #61082b;
  font-family: "Montserrat";
  font-size: 14px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  height: 1%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: #61082b;
  font-family: "Montserrat";
  font-size: 14px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  height: 1%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button:hover {
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: white;
}

.login-button:hover {
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: white;
}

.Email-natpis,
.Password-natpis,
.Password_repeat-natpis {
  font-family: "Montserrat";
  color: #61082b;
  font-size: 16px;
}

.Email-input,
.Password-input,
.Password_repeat-input {
  font-family: "Montserrat";
  color: #b4d0e7;
  font-size: 12px;
}

.register-linija {
  width: 100%;
  align-self: left;
}

@media (max-width: 1600px) {
  #main3 {
    height: 250vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .column1 {
    height: 700px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .column2 {
    height: 1000px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .box_1 {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #61082b;
    box-shadow: 2px 2px #61082b;
  }

  .box_1 img {
    width: 500px;
    height: 300px;
    border-radius: 15px;
  }

  .box_2 {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #61082b;
    box-shadow: 2px 2px #61082b;
  }

  .box_2 img {
    width: 500px;
    height: 300px;
    border-radius: 15px;
  }
  .box_3 {
    width: 500px;
    height: 350px;
  }

  .box_4 {
    width: 500px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
  }
}

@media (max-width: 1600px) {
  #main3 {
    height: 250vh;
  }

  #snow-fall2 {
    display: none;
  }
}

@media (max-width: 650px) {
  #main3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 250vh;
  }

  #snow-fall2 {
    display: none;
  }

  .column1 {
    height: 650px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .column2 {
    height: 550px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .box_1 {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #61082b;
    box-shadow: 2px 2px #61082b;
  }

  .box_1 img {
    width: 400px;
    height: 300px;
    border-radius: 15px;
  }

  .box_2 {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #61082b;
    box-shadow: 2px 2px #61082b;
  }

  .box_2 img {
    width: 400px;
    height: 300px;
    border-radius: 15px;
  }
}

@media (max-width: 550px) {
  #main3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 180vh;
  }

  #snow-fall2 {
    display: none;
  }

  .column1 {
    height: 450px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .column2 {
    height: 800px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .box_1 {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #61082b;
    box-shadow: 2px 2px #61082b;
  }

  .box_1 img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
  }

  .box_2 {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #61082b;
    box-shadow: 2px 2px #61082b;
  }

  .box_2 img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
  }
  .box_3 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .box_4 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .Email-natpis,
  .Password-natpis,
  .Password_repeat-natpis {
    font-family: "Montserrat";
    color: #61082b;
    font-size: 10px;
  }

  .Email-input,
  .Password-input,
  .Password_repeat-input {
    font-family: "Montserrat";
    color: #b4d0e7;
    font-size: 8px;
  }
}

#main4 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: green;
}

.row1 {
  flex: 1;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snow-fall2 {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 350vh;
  right: 0;
  z-index: 0;
}

.row1 img {
  flex: 1;
}

.mapa {
  border-radius: 15px;
}

#row2 {
  flex: 1;
  background-color: #05141b;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.col1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 500px;
}

.zadnji-naslov {
  font-size: 30px;
  font-family: "Montserrat";
  color: #b4d0e7;
}

.zadnji-naslov:hover {
  color: #ec8e9e;
  transition: 0.5s;
}

.col1 p {
  font-size: 23px;
  font-family: "Montserrat";
  color: #05141b;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.col1 p:hover {
  background-color: #ec8e9e;
  transition: 0.5s;
}

.col2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  width: 500px;
}

.col3 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  width: 500px;
}

.col3 img {
  border-radius: 15px;
  width: 350px;
  height: 250px;
}
